body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
tr {
    padding: 1px;
    border-spacing: 1px;
}
th {
    text-align: left;
}
td {
    font-size: 10pt;
    vertical-align: top;
}

#objects {
   -moz-column-count: 2;
   -moz-column-gap: 20px;
   -webkit-column-count: 2;
   -webkit-column-gap: 20px;
}
#objects table {
    width: 100%;
}
#objects .head {
    text-align: center;
}

#objects .bssid {
    font-family: "Lucida Console", Monaco, monospace;
    font-variant: fixed;
}