<html>
<head>
    <meta http-equiv="refresh" content="10" >
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Scroll of Sheep</h1>

<div id="objects">
{% for device_type, data in device_data.iteritems() %}
<table>
    <tr>
        <th colspan="6">
            {% if device_type == 'bt' %}
            <img src="{{ url_for('static', filename='bt.png') }}" height="32" width="32" /><br />
            Bluetooth Devices
            {% elif device_type == 'ap' %}
            <img src="{{ url_for('static', filename='wifi_ap.png') }}" height="32" width="32" /><br />
            Wi-Fi Access Points
            {% elif device_type == 'client' %}
            <img src="{{ url_for('static', filename='device.png') }}" height="32" width="32" /><br />
            Wi-Fi Client Devices
            {% endif %}
        </th>
    <tr>
        <th>Time</th>
        <th>MAC</th>
        {% if device_type != 'bt' %}
        <th>SSID</th>
        {% endif %}
        {% if device_type == 'bt' or device_type == 'client' %}
        <th>Device Type</th>
        {% endif %}
    </tr>

    {% for item in data %}
    {% if item != 0 %}
    <tr>
        <td>{{ item.realtime }}</td>
        <td class="bssid">{{ item.bssid }}</td>
        {% if item.type != 'bt' %}
        <td>{{ item.ssid }}</td>
        {% endif %}
        {% if device_type == 'bt' or device_type == 'client' %}
        <td>{{ item.device }}</td>
        {% endif %}
    </tr>
    {% endif %}
    {% endfor %}

</table>
{% endfor %}
</div>

</body>
</html>